@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

$theme-colors: (
  "site-primary": #f67172,
  "site-secondary": #fcb973,
);
::-webkit-scrollbar {
  width: 0rem;
  height: 0rem;
}
::-webkit-scrollbar-track {
  background: theme-color("site-secondary1");
}
::-webkit-scrollbar-thumb {
  background-color: #cecece; /* color of the scroll thumb */
  border-radius: 1.25rem; /* roundness of the scroll thumb */
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
.home-container {
  max-height: 90vh;
  overflow: auto;
}
.product-card-border {
  border: 1px solid lightgray;

  // width: 0rem;
  // height: 0rem;
}
::-webkit-scrollbar-track {
  background: theme-color("site-secondary1");
}
::-webkit-scrollbar-thumb {
  background-color: #cecece; /* color of the scroll thumb */
  border-radius: 1.25rem; /* roundness of the scroll thumb */
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
.home-container {
  max-height: 160vh;
  overflow: auto;
}
.input-border {
  border: 1px solid lightgray;
}

@media screen and (max-width: 1200px) {
  .navItems {
    flex-wrap: wrap !important;
  }
}

@media screen and (max-width: 640px) {
  .navItems {
    // flex-wrap: wrap !important;
    display: flex;
    flex-direction: column;
  }
  .saftypage-par-padding{
    padding: 15px;
  }
}

.upload-img-border{
  border: 1px dashed lightgray;
}


@media screen and (max-width: 1024px) {
  .lgs {
    flex-direction: row;
  }
}



// @media screen and (max-width: 766px) {
//   .navItems {
//     // flex-wrap: wrap !important;
//     display: flex;
//     flex-direction: column;
//   }
// }
